
body { 
	
	margin: 0;
	/* overflow-y: hidden; */
	
	
	}
@font-face {
	font-family: AUTOMOBI;
	src: url(../fonts/AUTOMOBI.TTF);
		}
@font-face {
	font-family: days_regular;
	src: url(../fonts/days_regular.otf);
			}
@font-face {
	font-family: HouschkaPro-Bold;
	src: url(../fonts/HouschkaPro-Bold.otf);
			}		
@font-face {
	font-family: HouschkaPro-Medium;
	src: url(../fonts/HouschkaPro-Medium.otf);
			}	
@font-face {
	font-family: Royalacid;
	src: url(../fonts/Royalacid.ttf);
			}		
	

.sky {
	border-bottom: 4px solid #ddecfa;
	background-color: #b9d6ef;
	background-image: url(../img/clouds.png);
	background-repeat: no-repeat;
	height: 463px;
	background: rgba(185, 214, 239);
	
	
	
}
.textdiv {
	/* border:9px solid black; */
	height: 300px;
	width: 600px;
	margin: 46px 0px 0px 444px;
	background: rgba(185, 214, 239, 0.0);
	text-align:center;
	position: absolute;
	z-index: 1;
	
}
h1 {
	font-size: 72px; 
    text-shadow: 3px 3px 1px #9ab2c6;
	color: #fefefe;
	font-family: HouschkaPro-Bold;
	font-weight: 900;
	margin-bottom: -8px;
	letter-spacing: 6px;
	transform: scaleY(1.1);
	
	}
p {
	font-size: 15px; 
    text-shadow: none;
	color: #4d88ae;
	font-family: HouschkaPro-Medium;
	font-stretch: ultra-expanded;
	margin-top: 10px;
	margin-left: -86px;
	font-weight: 500;
	}
	
form {
	margin-top: 17px;
	margin-left: -120px;
	
	}
	
button {
	width: 88px;
	height: 36px;
	border-radius: 4px;
	background-image: linear-gradient(0deg, #f7a225 20%, #facd46 100%);
	border: 1px solid #f7a225;
	overflow: visible;
	line-height: 25px;
	font-family: HouschkaPro-Bold;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #9ab2c6;
	box-shadow: 0px 1px 1px rgba(29,26,22,0.2);
		
		}
		
input {
	width: 240px;
	height: 33px;
	border-radius: 4px;
	box-shadow: 0px 1px 0px #ffffff;
	background-image: linear-gradient(0deg, #efefef 0%, #eaeaea 100%);
	overflow: visible;
	line-height: 30px;
	font-family: Arial;
	font-size: 12px;
	color: #808080;
	box-sizing: content-box;
	margin-left: 10px;
	
	
		}

.sea {
	border-top:9px solid rgba(50,125,173);
	background-color: #266b97;
	background-image: url(../img/icebergsea.png);
	background-repeat: no-repeat;
	background-position: bottom right, center center, top left;
	height: 360px;
	background: rgba(38, 107, 151)
}
.crono1 {
	font-size: 24px;
	line-height: 1.6;
	color: #f3f3f3;
	font-family: HouschkaPro-Bold;
	margin: 53px 1px 1px 545px;
    position: absolute;
	text-align: center;
	
}
.crono2 {
	font-size: 24px;
	line-height: 1.6;
	color: #f3f3f3;
	font-family: HouschkaPro-Bold;
	margin: 53px 1px 1px 651px;
    position: absolute;
	text-align: left;
    
	
}
.crono3 {
	font-size: 24px;
	line-height: 1.6;
	color: #f3f3f3;
	font-family: HouschkaPro-Bold;
	margin: 53px 1px 1px 767px;
    position: absolute;
	text-align: center;
	
}
.days {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	background-color: #b9d6ef;
	font-size: 26px;
	line-height: 70px;
	color: #266b97;
	font-family: HouschkaPro-Medium;
	font-weight: 500;
	text-align: center;
	margin-left: 1px;
}
.hours {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	background-color: #b9d6ef;
	font-size: 24px;
	line-height: 70px;
	color: #266b97;
	font-family: HouschkaPro-Medium;
	font-weight: 500;
	text-align:center;
	margin-left: 8px;
}
.mins {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	background-color: #b9d6ef;
	font-size: 24px;
	line-height: 70px;
	color: #266b97;
	font-family: HouschkaPro-Medium;
	font-weight: 500;
	text-align:center;
	margin-left: 1px;
}

.clouds {
	margin: -1px 55% 0% 15%;
    position: absolute;
	
}
.iceberg {
	margin: -477px 0% 0% 202px;
    position: absolute;
	/* border:4px solid #ddecfa; */
}
.boat {
	margin: -477px 0% 0% 202px;
    position: absolute;
	
	
}



